<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phase 1</title>

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #floating-panel {
          position: absolute;
          top: 10px;
          left: 25%;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
          text-align: center;
          font-family: 'Roboto','sans-serif';
          line-height: 30px;
          padding-left: 10px;
        }
      </style>

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar for main page -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <br>
                <li>
                    <a href="#" data-toggle="popover" data-placement="top" title="Help" data-content="Input code in Python">Help</a>

                </li>
                <li>
                    <a href="mailto:adityavazhipokkil@gmail.com">Contact</a>
                </li>
                <li>
                    <a href="#" data-toggle="popover" data-placement="bottom" title="About" data-content="Developed by Aditya and Pratik">About</a>

                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <li>
                        <a href="#">Aditya | Pratik</a>
    
                    </li>
                

            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Run a Python script (Phase 1)</h1>
                <p>Hostname of docker container : {{ hostname }}</p>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Code : </label>
                    <textarea class="form-control" id="codebox2" rows="5"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                            <button onclick="runCode(event)" class="btn btn-dark" type="button">Run Code</button>
                    </div>
                    <input id="outputbox" class="form-control" type="text" placeholder="Output..." readonly>
                    
                </div>
                
            </div>
            <p id="output"></p>
        </div>

    </div>
        <script>
            function runCode(event) { 
                event.preventDefault();
                console.log("running onclick")
                pycode = document.getElementById('codebox2').value;
                console.log(pycode);
                var requestJson = {'code': pycode}; // JSON for POST
                $.ajax({
                    type: "POST",
                    url: '/runcode',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(requestJson),
                    success: function(data) {
                        console.log('SUCCESS');
                        console.log(data);
                        // document.getElementById("outputbox").innerHTML = data;
                        document.getElementById("outputbox").value=data;
                    },
                    error: function() {
                        console.log('FAILED');
                    }
                });
            }

        </script>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script> // Popover for the sidebar buttons
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
    </script>

</body>

</html>
